@{
    ViewData["Title"] = "Başarılı";
}
<div class="container pb-3" style="padding-top:100px">
    <div class="row">
        <div class="mx-auto col-sm-8">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Başarılı</h4>
                </div>
                <div class="card-body">
                    <p>
                        Başarılı şekilde kayıt oluşturulmuştur.
                    </p>
                    <div class="form-group row">
                        <div class="col-lg-9">
                            <a href="/House/Create" class="btn btn-secondary">Geri Dön</a>
                            <a href="/Dashboard" class="btn btn-primary">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>