@model CreateViewModel
@{
    ViewData["Title"] = "Yeni Oluştur";
}
<div class="container pb-3" style="padding-top:100px">
    <div class="row">
        <div class="mx-auto col-sm-8">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Bilgiler</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" asp-controller="Dashboard" method="post" class="form" role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Tc Kimlik Numarası</label>
                            <div class="col-lg-9">
                                <input asp-for="IdentificationNumber" class="form-control" type="text">
                                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Muhtar Adı</label>
                            <div class="col-lg-9">
                                <input asp-for="Name" class="form-control" type="text">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Muhtar Soyadı</label>
                            <div class="col-lg-9">
                                <input asp-for="Surname" class="form-control" type="text">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Muhtar Kullanıcı Adı</label>
                            <div class="col-lg-9">
                                <input asp-for="UserName" class="form-control" type="text">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Muhtar Şifre</label>
                            <div class="col-lg-9">
                                <input asp-for="Password" class="form-control" type="password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Köy veya Mahalle</label>
                            <div class="col-lg-9">
                                <input asp-for="Town" class="form-control" type="text">
                                <span asp-validation-for="Town" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">İlçe</label>
                            <div class="col-lg-9">
                                <input asp-for="District" class="form-control" type="text">
                                <span asp-validation-for="District" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Şehir</label>
                            <div class="col-lg-9">
                                <input asp-for="City" class="form-control" type="text">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-primary" value="Kaydet">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>