@{
    ViewData["Title"] = "Dashboard";
}
<div class="container pb-3" style="padding-top:100px">
    <div class="row">
        <div class="mx-auto col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Dash</h4>
                </div>
                <div class="card-body">
                    asdasd
                </div>
            </div>
        </div>
    </div>
</div>